body {
    font-family: 'Montserrat', sans-serif;
    
    height: auto;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100px;
    font-size: larger;
}

html {
    scroll-behavior: smooth;
}

.toTop {
    background-color: rgb(97, 97, 103);
    position: fixed;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    pointer-events: none;
    bottom: 2rem;
    right: 5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    transition: all 0.3s;
    text-decoration: none;
    color: black;
    
}

.toTop.active {
    opacity: 1;
    pointer-events: auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: rgb(97, 97, 103);
    border-radius: 10px;
}

header #logo {
    font-size: 1.5rem;
    font-weight: 400;
}

#menu ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    font-size: 0.8rem;
    font-weight: 900;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
}

input[type="text"],
input[type="contato"],

textarea {
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #444;
}
.inicio{
    height: 35%;
    width: 50%;
    
}

.ajuste{
    margin-left: 25%;
    
}

.aprese{
    font-family: 'Brush Script MT', cursive;
    font-size: large;
    margin-top: 2rem;
}

.botao{
    height: 30%;
    width: 30%;
}
    
.botao button {
    border: none;
    background-color: rgb(97, 97, 103);
    padding: 1.5rem 7rem;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 2rem;
    margin-left: 20rem; 
}
.botao button:hover{
    background-color: #d3a91ff1;
}
.botao button a {
    display: flex;
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    font-size: large;
    font-family: 'Brush Script MT', cursive;
    width: 150px;
    height: 30px;
}
.golden{
    float: right;
    margin-right: 18rem;
}


    

    
    
    


