/* Menu (Comum em "todas" as páginas") */
body {
  font-family: 'Josefin Sans', sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid black;
  background-color: rgb(97, 97, 103);
  border-radius: 10px;
  padding: 1% 1%;
}

header #logo {
  font-size: 1.5rem;
  font-weight: 400;
}

#menu ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  font-size: 0.8rem;
  font-weight: 900;
}

/* Index.html */
.body-index {
  background-color: #7429d4bb;
  font-family: 'Josefin Sans', sans-serif;
}

.golden {
  float: right;
  margin-right: 15rem;

}

.inicio {
  height: 35%;
  width: 50%;
  /* margin-left: 2%; */
  font-size: large;
  /* margin-top: 2%; */
  padding: 4%;

}

.inicio h3 {
  margin-top: 10%;
}

.botao {
  width: 15rem;
  height: 2.5rem;
  text-decoration: none;
  text-align: center;
  float: left;
  margin-bottom: 3%;
  margin-right: 50%;
  margin-left: 25%;
  margin-top: 3%;
  border-radius: 10px;
  background-color: #e0bd20c5;
  cursor: pointer;
  color: #fff;
  line-height: 250%;
}

.botao:hover {
  background-color: #6ec0aef1;
}

.marcas {
  display: flex;
  justify-content: space-evenly;
  height: 160px;
  width: 100%;
  margin-right: 50%;
}

#h3-fotos {
  height: 35%;
  width: 50%;
  padding: 4%;
}


.fotos {
  display: flex;
  justify-content: space-evenly;
}

.fotos img {
  border-radius: 20px;
  width: 227px;
  height: 302px;
  justify-content: space-evenly;
}

.nomes {
  display: flex;
  padding-top: 1%;
}

#jeff {
  margin-left: 16%;
}

#neto {
  margin-left: 21%;
}

#thiago {
  margin-left: 23%;
}



/* Página faleconosco.htm */

.container-cont {
  width: 80%;
  height: 80vh;
  display: flex;
  margin: 5%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 20px;
}

.form-cont {
  width: 50%;
  display: block;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 2%;
  margin-left: 5%;
}

.form-cont-box {
  margin-right: 20%;
}

input[type="text"],
input[type="contato"],
textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-bottom: 20px;
}

input[type="email"],
textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-bottom: 20px;
}

.body-black {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(25, 25, 27);
  font-family: 'Josefin Sans', sans-serif;
}

.form-image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9c391;
  padding: 1%;
  border-radius: 20px 0 0 20px;
}

.form-image img {
  width: 80%;
  height: 80%;
}

.close {
  width: 30px;
  height: 30px;
  font-size: 10px;
  line-height: 325%;
  /* tamanho da linha que contem o texto X para alinhar no centro */
  text-decoration: none;
  /* tira o sublinhado do link */
  text-align: center;
  /*alinhamento to texto no meio do botão (esq-dir)*/
  position: relative;
  /* relativo para ficar por posicionado como está acima */
  right: 0.75%;
  /* posição em relação horizontal */
  top: 1%;
  /* posição em relação vertical */
  float: right;
  /* desacopla o botão */
  border-radius: 50%;
  background-color: #d9c391;
  color: #fff;
}

/* Página produtos.html */

.body-produtos {
  background-color: #7429d4bb;
}

.produtos {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(253, 182, 50);
  width: 80%;
  border-radius: 10px;
  padding: 1% 0;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 1%;
}

.prod img {
  width: 14rem;
  height: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4%;
}

.prod {
  width: 15rem;
  height: 22rem;
  background-color: rgb(97, 97, 103);
  border-radius: 10px;
  color: oran;
}


.prod p {
  margin-left: 4%;
}

.prod button {
  margin-left: 35%;
  border-radius: 5px;
  text-decoration: none;
  border-radius: 10px;
  background-color: #7429d4bb;
  cursor: pointer;
  color: #fff;
  line-height: 250%;
  margin-top: -70%;
}

.prod button:hover {
  background-color: rgb(253, 182, 50);
}

.catdog {
  margin-left: 10.5%;
  margin-top: 5%;
}

.rodape a{
  color: white;
}

.rodape{
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-items: stretch;
  color: white;
}
/* Ajeitar botão, centralizar área branca, mudar produtos, adicionar categoria: brinquedos e produtos de gato */

.continue-button {
  width: 84%;
  border: none;
  background-color: rgb(239, 239, 245);
  padding: 2%;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.gender-group {
  display: flex;
  justify-content: space-around;
  margin-top: 0.5rem;
  padding: 3px;
  align-items: right;
  padding: 2px;
}

.gender-input {
  display: flex;
  align-items: center;
}

.gender-input input {
  margin-right: 0.35rem;
}

.gender-input label {
  font-size: 0.81rem;
  font-weight: 600;
  color: #000000c0;
}

/*Service input*/
.service-group {
  display: flex;
  justify-content: space-around;
  margin-top: 0.5rem;
  padding: 3px;
  align-items: right;
  padding: 2px;
}

.service-input {
  display: flex;
  align-items: center;
}

.service-input input {
  margin-right: 0.35rem;
}

.service-input label {
  font-size: 0.81rem;
  font-weight: 600;
  color: #000000c0;
}