/* Menu (Comum em "todas" as páginas") */
body {
  font-family: "Josefin Sans", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid black;
  background-color: orange;
  border-radius: 10px;
  padding: 1% 1%;
}

header #logo {
  font-size: 1.5rem;
  font-weight: 400;
}

#menu ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  font-size: 0.8rem;
  font-weight: 900;
}

/* Index.html */

.body-index {
  background-color: #7429d4bb;
  font-family: "Josefin Sans", sans-serif;
}

.golden {
  float: right;
  margin-right: 15rem;
}

.inicio {
  height: 35%;
  width: 50%;
  font-size: large;
  padding: 1%;
  background-color: orange;
  margin: 3%;
  border-radius: 10px;
}

.inicio h3 {
  margin-top: 7%;
}

.botao-ini {
  width: 40%;
  height: 5%;
  text-decoration: none;
  text-align: center;
  float: left;
  /* margin-bottom: 3%; */
  /* margin-right: 50%; */
  margin-left: 25%;
  margin-top: 3%;
  border-radius: 10px;
  background-color: rgb(97, 97, 103);
  cursor: pointer;
  color: #fff;
  line-height: 250%;
}

.botao-ini:hover {
  background-color: #9962df;
}

.marcas {
  display: flex;
  justify-content: space-evenly;
}

.marcas img {
  cursor: pointer;
  height: 160px;
  width: 160px;
}

#h3-fotos {
  height: 35%;
  width: 50%;
  padding: 4%;
}

.fotos {
  display: flex;
  justify-content: space-evenly;
}

.fotos img {
  border-radius: 20px;
  width: 227px;
  height: 302px;
  justify-content: space-evenly;
}

.nomes {
  display: flex;
  padding-top: 1%;
}

#jeff {
  margin-left: 16%;
}

#neto {
  margin-left: 21%;
}

#thiago {
  margin-left: 23%;
}

/* Página produtos.html */

.body-produtos {
  background-color: #7429d4bb;
}

.produtos {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(253, 182, 50);
  width: 80%;
  border-radius: 10px;
  padding: 1%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 1%;
}

.prod img {
  width: 14rem;
  height: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4%;
}

.prod {
  width: 15rem;
  height: 22rem;
  background-color: rgb(97, 97, 103);
  border-radius: 10px;
  color: white;
}

.prod p {
  margin-left: 4%;
}

.prod button {
  margin-left: 35%;
  border-radius: 5px;
  text-decoration: none;
  border-radius: 10px;
  background-color: #9962df;
  cursor: pointer;
  color: #fff;
  line-height: 250%;
  margin-top: -70%;
}

.prod button:hover {
  background-color: rgb(253, 182, 50);
}

.catdog {
  margin-left: 10.5%;
  margin-top: 5%;
}

/* Rodapé */

.rodape {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: stretch;
  color: white;
}

.rodape a {
  color: white;
}

.rodape-pag {
  display: flex;
  justify-content: space-evenly;
}

.rodape h3 {
  margin-left: 2.5%;
}

#footer {
  margin-top: 1.5%;
}

/* Páginas de Formulario */

.body-black {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(25, 25, 27);
  font-family: "Josefin Sans", sans-serif;
}
.container {
  width: 80%;
  height: 80vh;
  display: flex;
  margin: 5%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 20px;
}

.form {
  width: 50%;
  display: block;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 2%;
  margin-left: 5%;
}

.form-box {
  margin-right: 20%;
}

input[type="text"],
input[type="contato"],
textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-bottom: 20px;
}

input[type="email"],
textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-bottom: 20px;
}

.form-image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7429d4bb;
  padding: 1%;
  border-radius: 20px 0 0 20px;
}

.form-image img {
  width: 80%;
  height: 80%;
}

.continue-button {
  width: 84%;
  border: none;
  background-color: #7429d4bb;
  padding: 2%;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.close {
  width: 30px;
  height: 30px;
  font-size: 10px;
  line-height: 325%;
  text-decoration: none;
  text-align: center;
  position: relative;
  right: 0.75%;
  top: 1%;
  float: right;
  border-radius: 50%;
  background-color: #d9c391;
  color: #fff;
}

/*Service input*/

.service-group {
  display: flex;
  justify-content: space-around;
  margin-top: -3%;
  padding: 3px;
  padding: 2px;
}

.service-input {
  margin-bottom: 3%;
}

.service-input input {
  margin-right: -1%;
}

.service-input label {
  font-size: 0.81rem;
  font-weight: 600;
  color: #000000c0;
}

/* Gender Input */

.gender-group {
  display: flex;
  justify-content: space-around;
  margin-top: -3%;
  padding: 3px;
  padding: 2px;
}

.gender-input {
  margin-bottom: 3%;
}

.gender-input input {
  margin-right: -1%;
}

.gender-input label {
  font-size: 0.81rem;
  font-weight: 600;
  color: #000000c0;
}
